<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <appSettings>
    <add key="appLocation"                value="Dev"/>
    <add key="excel_summary_tenured"      value="Trifecta Bonus_Tenured.xlsx"/>
    <add key="excel_summary_new"          value="Trifecta Bonus_New.xlsx"/>
    <add key="excel_summary_tenured_ytd"  value="Trifecta Bonus_Tenured_YTD.xlsx"/>
    <add key="excel_summary_new_ytd"      value="Trifecta Bonus_New_YTD.xlsx"/>
  </appSettings>
  
  </configuration>